.vscode
TODO.md
.gitignore

/server/archives/*
!/server/archives/README

/server/uploaded/*
!/server/uploaded/README

/server/filtered/*
!/server/filtered/README

redis.drawio

server/steps.txt
server/Dockerfile